.leaflet-popup-content {
    width: 325px !important;
}

.screen-x-small .leaflet-popup-content {
    width: 225px !important;
}

table.simple-grid {
    width: 100%;
    line-height: initial;
    border-collapse: collapse !important;
    empty-cells: show;
    border-spacing: 0px;
    border: 1px Solid #c0c0c0;
    margin: 10px 0 10px 0;
    font-size: 8pt
}

.map-pop-content-location-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.screen-x-small .map-pop-content-location-wrapper {
    font-size: 10px;
}

.map-pop-content-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    gap: 5px
}

.screen-x-small .map-pop-content-location {
    align-items: start;
}

table.simple-grid tbody td {
    border: 1px Solid #c0c0c0;
    padding: 3px 6px 4px;
    text-align: left;
}

table.simple-grid thead th {
    font-weight: bold;
    border: 1px Solid #c0c0c0;
    background-color: #f0f0f0;
    vertical-align: middle;
    height: 30px;
    text-align: center;
}

.map-pop-content-wrapper {
    overflow: scroll;
    height: 250px;
}

.screen-x-small .map-pop-content-wrapper {
    height: 210px;
}