[data-state] {
  transition: fill 0.25s ease, stroke 0.25s ease !important;
  cursor: pointer;
}

text[data-state]:hover, svg tspan[data-state]:hover {
  fill: #ffeb3b !important;
  stroke-width: 2 !important;
}


circle[data-state]:hover, path[data-state]:hover, polygon[data-state]:hover {
  stroke: #ffeb3b !important;
  stroke-width: 2px !important;
  filter: drop-shadow(0 0 4px rgba(255, 235, 59, 0.5));
  opacity: 0.9 !important;
}