[data-state] {
  transition: fill 0.25s ease, stroke 0.25s ease !important;
  cursor: pointer;
}

text[data-state]:hover,
svg tspan[data-state]:hover {
  fill: #ffeb3b !important;
  font-weight: bold;
  stroke-width: 2px !important;
}


circle[data-state]:hover,
path[data-state]:hover,
polygon[data-state]:hover {
  stroke: #ffeb3b !important;
  stroke-width: 2px !important;
  filter: drop-shadow(0 0 4px rgba(255, 235, 59, 0.5));
  opacity: 0.9 !important;
}

g#boilerFlame>path:hover {
  stroke: #ffeb3b !important;
  stroke-width: 15px;
}


@keyframes intenseGlow {
  0% {
    filter:
      drop-shadow(0 0 10px rgba(255, 100, 0, 0.8)) drop-shadow(0 0 20px rgba(255, 60, 0, 0.6)) drop-shadow(0 0 30px rgba(255, 30, 0, 0.4)) brightness(1);
  }

  25% {
    filter:
      drop-shadow(0 0 15px rgba(255, 120, 0, 0.9)) drop-shadow(0 0 30px rgba(255, 80, 0, 0.7)) drop-shadow(0 0 45px rgba(255, 40, 0, 0.5)) brightness(1.2);
  }

  50% {
    filter:
      drop-shadow(0 0 20px rgba(255, 140, 0, 1)) drop-shadow(0 0 40px rgba(255, 100, 0, 0.8)) drop-shadow(0 0 60px rgba(255, 60, 0, 0.6)) brightness(1.3);
  }

  75% {
    filter:
      drop-shadow(0 0 15px rgba(255, 120, 0, 0.9)) drop-shadow(0 0 30px rgba(255, 80, 0, 0.7)) drop-shadow(0 0 45px rgba(255, 40, 0, 0.5)) brightness(1.2);
  }

  100% {
    filter:
      drop-shadow(0 0 10px rgba(255, 100, 0, 0.8)) drop-shadow(0 0 20px rgba(255, 60, 0, 0.6)) drop-shadow(0 0 30px rgba(255, 30, 0, 0.4)) brightness(1);
  }
}

.boiler-flame-animation {
  animation:
    intenseGlow 3s ease-in-out infinite;
}